<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastros</title>
</head>
<body>
<div class="content">
<div class="text-center">
	<br>
	<a ui-sref="index5" class="btn btn-success btn-addon m-b-sm btn-lg"><i class="glyphicon glyphicon-inbox"></i>Departamento</a>
     <a ui-sref="index23" class="btn btn-info btn-addon m-b-sm btn-lg"><i class="glyphicon glyphicon-calendar"></i>Programa</a> 
     <a ui-sref="index8" class="btn btn-warning btn-addon m-b-sm btn-lg"><i class="glyphicon glyphicon-eye-open"></i>Supervisor</a> 
     <a ui-sref="index9" class="btn btn-danger btn-addon m-b-sm btn-lg"><i class="menu-icon glyphicon glyphicon-user"></i>Gestor</a>
     <a ui-sref="index6" class="btn btn-primary btn-addon m-b-sm btn-lg"><i class="menu-icon glyphicon glyphicon-stats"></i>Posição</a>
	<a ui-sref="index4" class="btn btn-default btn-addon m-b-sm btn-lg"><i class="menu-icon glyphicon glyphicon-book"></i>Formação</a>
   

</div>     
</div>
</body>
</html>