<!-- <!DOCTYPE html> -->
<!-- <html> -->

<!--   <head> -->
 
<!--   </head> -->

<!--   <body> -->
<!--       <input type="text" class="form-control"  ng-model="de"> -->
<!--   <input type="text" class="form-control"  ng-model="ate">  -->
<!--         <table border="1"> -->
<!--             <thead> -->
<!--             <tr> -->
			
<!--                 <td>Unique IDs</td> -->
<!--                 <td>Name</td> -->
<!--                 <td>Status</td> -->
<!--                 <td>Date</td> -->
<!--             </tr> -->
<!--             </thead> -->

<!--             <tbody> -->
<!--             <tr ng-repeat="data in  record"> -->
<!--                 <td> {{data.apelido}}</td> -->
<!--                 <td> {{data.nome}}</td> -->
<!--                 <td> {{data.email}}</td> -->
<!--                 <td> {{data.datafim}}</td> -->
<!--             </tr> -->
<!--             </tbody> -->
<!--         </table> -->
<!--       ddd  {{record}} -->
<!--   </body> -->
	

<!-- </html> -->
