<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Contrato Indeterminado</title>

</head>
<body>
	<h3 style="text-align: center">Contrato Indeterminado</h3>
	<br>
	<div ng-show="myVar">
		<div class="form-group col-md-6">
			<input type="hidden" ng-model="contrato.idade"> <input
				type="date" ng-model="birthdate" size="30"
				class="aviso form-control">
		</div>
		<div class="form-group col-md-6">
			<button type="button" data-ng-click="ches(myVar)"
				class="btn btn-default">Fechar</button>
		</div>

	</div>
	<div data-ng-cloak>
		<br>
		<div class="tab-content" data-ng-switch on="stage">
			<form name="multiStepForm">
				<div data-ng-switch-default>
					<div>
						<p>Dados Pessoaais</p>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputName">Nome:</label> <input type="text"
									class="form-control" name="nome" id="nome" placeholder="Nome"
									data-ng-model="contrato.nome" required> <span
									class="aviso"
									ng-show="multiStepForm.nome.$dirty && multiStepForm.nome.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputName2">Apelido:</label> <input
									type="text" class="form-control" name="apelido" id="apelido"
									placeholder="Apelido" data-ng-model="contrato.apelido" required>
								<span class="aviso"
									ng-show="multiStepForm.apelido.$dirty && multiStepForm.apelido.$error.required ">Esse
									campo e obrigatorio</span>

							</div>
						</div>


						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputDate">Data de Nascimento:</label>
								<button type="button" data-ng-click="ches(myVar)"
									class="btn btn-default aviso">Habilitar Data</button>
							</div>
							<div class="form-group col-md-4">
								<label for="exampleInputAge">Idade:</label> <input type="text"
									ng-value="calculateAge(birthdate)">


							</div>

						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label>Estado Civil: <select id="civil" name="civil"
									data-ng-model="contrato.civil" class="form-control" required>
										<option data-ng-repeat="a in ecivil">{{a}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepForm.civil.$dirty && multiStepForm.civil.$error.required ">Esse
									campo e obrigatorio</span>

							</div>
							<div class="form-group col-md-4">
								<label for="exmpleInputGender">Gênero:</label><br> <input
									type="radio" data-ng-model="contrato.genero" id="idMale"
									value="Homem"> Masculino &nbsp; &nbsp; &nbsp; <input
									type="radio" data-ng-model="contrato.genero" id="idFemale"
									value="Mulher"> Feminino
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label>Nível Académico: <select
									data-ng-model="contrato.academico" id="level" name="level"
									class="form-control col-md-4" required>
										<option>Médio</option>
										<option>Licenciado</option>
										<option>Mestrado</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepForm.level.$dirty && multiStepForm.level.$error.required ">Esse
									campo e obrigatorio</span>

							</div>
							<div class="form-group col-md-4">
								<label>Area Cientifica: <select class="form-control"
									name="cienti" id="cient" data-ng-model="contrato.educacao.id"
									required>
										<option data-ng-repeat="dep in educacaoes" value="{{dep.id}}">{{dep.descricao}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepForm.cient.$dirty && multiStepForm.cient.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group  col-md-4">
								<label for="exampleInputSkype">Email:</label> <input type="text"
									id="email" name="email" data-ng-model="contrato.email"
									class="form-control" id="idInputEmail"
									placeholder="Escreva o Skype" required> <span
									class="aviso"
									ng-show="multiStepForm.email.$dirty && multiStepForm.email.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">
								<label for="exampleInputPhone">Telefone I:</label> <input
									type="number" data-ng-model="contrato.telefone1"
									class="form-control" id="telI" name="telI"
									placeholder="+258 *********" required><span
									class="aviso"
									ng-show="multiStepForm.telI.$dirty && multiStepForm.telI.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputPhone2">Telefone II:</label> <input
									type="number" data-ng-model="contrato.telefone2"
									class="form-control" id="telII" name="telII"
									placeholder="+258 *********" required> <span
									class="aviso"
									ng-show="multiStepForm.telII.$dirty && multiStepForm.telII.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<button type="button" class="btn btn-success m-b-sm"
							data-toggle="modal" data-target="#myModal">Adicionar
							Contactos de Emergência</button>
					</div>



					<ul class="pager wizard">
						<li class="next"><a data-ng-click="next('stage1')"
							class="btn btn-default" ng-disabled="multiStepForm.$invalid">Seguir</a></li>
					</ul>

				</div>
			</form>
			<form name="multiStepfirst">
				<div data-ng-switch-when="stage1">
					<div class="form-group">
						<h4>Local de Residência</h4>
						<br>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputNationality">Nacionalidade:</label> <input
									type="text" class="form-control" name="nacionalidade"
									id="nacionalidade" placeholder="Nacionalidade"
									data-ng-model="contrato.endereco.nacionalidade" required>
								<span class="aviso"
									ng-show="multiStepfirst.nacionalidade.$dirty && multiStepfirst.nacionalidade.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">
								<label>Pronvicia: <select class="form-control"
									data-ng-model="contrato.endereco.provincia" required>
										<option data-ng-repeat="p in pronvicias">{{p}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepfirst.endereco.$dirty && multiStepfirst.endereco.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>

						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputBirthplace">Localidade:</label> <input
									type="text" data-ng-model="contrato.endereco.localidade"
									class="form-control" id="localidade" name="localidade"
									placeholder="Escreva a Localidade" required> <span
									class="aviso"
									ng-show="multiStepfirst.localidade.$dirty && multiStepfirst.localidade.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleAddress">Bairro:</label> <input type="text"
									class="form-control" data-ng-model="contrato.endereco.bairro"
									name="bairro" id="bairro" placeholder="Nome do Bairro" required>
								<span class="aviso"
									ng-show="multiStepfirst.bairro.$dirty && multiStepfirst.bairro.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputQuarteirao">Quarteirão:</label> <input
									type="number" class="form-control"
									data-ng-model="contrato.endereco.quarterao" id="qtr" name="qtr"
									placeholder="Nr do quarteirao" required> <span
									class="aviso"
									ng-show="multiStepfirst.qtr.$dirty && multiStepfirst.qtr.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputCasa">N° Casa:</label> <input
									type="number" data-ng-model="contrato.endereco.casa"
									class="form-control" id="casa" name="casa"
									placeholder="Nr da casa"> <span class="aviso"
									ng-show=" multiStepfirst.casa.$dirty &&  multiStepfirst.casa.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>

						<ul class="pager wizard">
							<li class="previous"><a data-ng-click="back('stage')"
								class="btn btn-default">Voltar</a></li>
							<li class="next"><a data-ng-click="next('stage2')"
								ng-hide="multiStepfirst.$invalid" class="btn btn-default">Seguir</a></li>
						</ul>


					</div>
				</div>

			</form>
			<form name="multiStepadm">
				<div data-ng-switch-when="stage2">
					<div class="form-group">
						<h4>Dados Administrativos</h4>
						<br>
						<div class="row">
							<div class="form-group col-md-4">
								<label>Departamento: <select class="form-control"
									id="depa" name="depa" data-ng-model="contrato.departamento.id"
									required>
										<option data-ng-repeat="dep in departamentos"
											value="{{dep.id}}">{{dep.descricao}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepadm.depa.$dirty && multiStepadm.depa.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">

								<button type="button" class="btn btn-success m-b-sm"
									data-toggle="modal" data-target="#myModall">Adicionar
									Programa</button>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label>Posicao: <select class="form-control" name="pos"
									id="pos" data-ng-model="contrato.posiccao.id" required>
										<option data-ng-repeat="p in posicaoes" value="{{p.id}}">{{p.descricao}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepadm.pos.$dirty && multiStepadm.pos.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">
								<label>Categoria: <select class="form-control"
									data-ng-model="contrato.categoria" id="cat" name="cat"
									class="form-control col-md-4">
										<option data-ng-repeat="c in cats">{{c}}</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepadm.cat.$dirty && multiStepadm.cat.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputProbatorio">Período Probatório:
									<select class="form-control col-md-4"
									data-ng-model="contrato.periodo" id="prob" name="prob" required>
										<option>3 meses</option>
										<option>6 meses</option>
								</select>
								</label> <span class="aviso"
									ng-show="multiStepadm.prob.$dirty && multiStepadm.prob.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">
								<label for="exampleInputDate1">Data de Início:</label> <input
									type="date" class="form-control" id="datai" name="datai"
									data-ng-model="contrato.datainicio" required> <span
									class="aviso"
									ng-show="multiStepadm.datai.$dirty && multiStepadm.datai.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group col-md-4">
								<label for="exampleInputDate1">Data de Término:</label> <input
									type="date" class="form-control" id="datat" name="datat"
									data-ng-model="contrato.datafim" required> <span
									class="aviso"
									ng-show="multiStepadm.datat.$dirty && multiStepadm.datat.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputPhone">Experiência Profissional:</label>
								<input type="number" class="form-control" id="exp" name="exp"
									data-ng-model="contrato.experiencia" placeholder="Anos"
									required> <span class="aviso"
									ng-show="multiStepadm.exp.$dirty && multiStepadm.exp.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputSkype">Último local de trabalho:</label>
								<input type="text" class="form-control" id="loc" name="loc"
									data-ng-model="contrato.local" placeholder="Nome" required>
								<span class="aviso"
									ng-show="multiStepadm.loc.$dirty && multiStepadm.loc.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputPhone">Salário Base:</label> <input
									type="number" data-ng-model="contrato.salariobase" step="0.00"
									class="form-control" name="salb" id="salb"
									placeholder="Ex:xxxx.**" required>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputPhone2">Salário Actual:</label> <input
									type="number" data-ng-model="contrato.salarioactual"
									class="form-control" id="sala" name="sala"
									placeholder="Ex:xxxx.**" required> <span class="aviso"
									ng-show="multiStepadm.sala.$dirty && multiStepadm.sala.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-3">
								<label>Nível Salarial: <select
									data-ng-model="contrato.nivel" class="form-control col-md-3"
									required>
										<option value="1">1</option>
										<option value="2">2</option>
										<option value="3">3</option>
										<option value="4">4</option>
										<option value="5">5</option>
										<option value="6">6</option>
										<option value="7">7</option>
										<option value="8">8</option>
										<option value="9">9</option>
										<option value="10">10</option>
										<option value="11">11</option>
										<option value="12">12</option>
								</select>
								</label>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputPhone">Número de Dependentes:</label> <input
									type="number" class="form-control" id="ndep" name="ndep"
									data-ng-model="contrato.depedente" placeholder="Dependentes"
									required> <span class="aviso"
									ng-show="multiStepadm.ndep.$dirty && multiStepadm.ndep.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputSkype">NUIT:</label> <input
									type="number" data-ng-model="contrato.nuit"
									class="form-control" id="nuit" name="nuit"
									placeholder="Ex:*********" required> <span
									class="aviso"
									ng-show="multiStepadm.nuit.$dirty && multiStepadm.nuit.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label for="exampleInputPhone">INSS:</label> <input
									type="number" data-ng-model="contrato.inss"
									class="form-control" id="inss" name="inss"
									placeholder="Ex:*******" required> <span class="aviso"
									ng-show="multiStepadm.inss.$dirty && multiStepadm.inss.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
							<div class="form-group  col-md-4">
								<label for="exampleInputPhone2">NIB:</label> <input
									type="number" data-ng-model="contrato.nib" class="form-control"
									name="nib" id="nib" placeholder="Ex:***************" required>
								<span class="aviso"
									ng-show="multiStepadm.nib.$dirty && multiStepadm.nib.$error.required ">Esse
									campo e obrigatorio</span>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-4">
								<label>Supervisor: <select class="form-control"
									data-ng-model="contrato.supervisor.id" id="sup" name="sup">
										<option data-ng-repeat="dep in supervisores"
											value="{{dep.id}}">{{dep.descricao}}</option>
								</select>
								</label>
							</div>
							<div class="form-group col-md-4">
								<label>Gestor: <select class="form-control"
									data-ng-model="contrato.gestor.id" required>
										<option data-ng-repeat="dep in gestores" value="{{dep.id}}">{{dep.descricao}}</option>
								</select>
								</label>
							</div>
						</div>


						<ul class="pager wizard">
							<li class="previous"><a data-ng-click="back('stage1')"
								class="btn btn-default">Voltar</a></li>
							<li class="next"><a data-ng-click="next('stage3')"
								ng-hide="multiStepadm.$invalid" class="btn btn-default">Seguir</a></li>
						</ul>

					</div>
				</div>
			</form>
			<form name="multiStepPass">
				<div data-ng-switch-when="stage3">
					<div class="form-group">
						<h4>Login</h4>
						<br>

						<div class="row">

							<div class="form-group col-md-4">
								<label for="exampleInputEmail">Email:</label> <input
									type="email" class="form-control" id="userr" name="userr"
								
									placeholder="Escreva o email">
							</div>

							<div class="form-group col-md-3">
								<label for="exampleInputPassword2"> Password:</label> <input
									type="password" class="form-control" name="passs" id="pass"
									
									placeholder="Confirme a Password">
							</div>
							<div class="form-group col-md-3">
								<label for="exampleInputPassword1">Confirm Password:</label> <input
									type="password" class="form-control"
									placeholder="Introduza Password">

							</div>
						</div>

						<ul class="pager wizard">
							<li class="previous"><a data-ng-click="back('stage2')"
								class="btn btn-default">Voltar</a></li>
							<li class="next"><a data-ng-click="next('stage4')"
								class="btn btn-default">Seguir</a></li>
							<li class="next">
						</ul>
					</div>
				</div>
			</form>
			<form>
				<div data-ng-switch-when="stage4">
					<h4>Confirmar</h4>
					<br>
					<p class="aviso">Dados Pessoais</p>
					<div class="row">

						<div class="form-group col-md-3">
							<label for="exampleInputName">Nome:</label>
							<p class="aviso">{{contrato.nome}}</p>
						</div>
						<div class="form-group  col-md-3">
							<label for="exampleInputName2">Apelido:</label>
							<p class="aviso">{{contrato.apelido}}</p>
						</div>


						<div class="form-group col-md-3">
							<label for="exampleInputName">Data_Nascimento:</label>
							<p class="aviso">{{contrato.datanascimento}}</p>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName">Estado_Civil:</label>
							<p class="aviso">{{contrato.civil}}</p>
						</div>
					</div>
					<div class="row">

						<div class="form-group col-md-3">
							<label for="exampleInputName">Genero:</label>
							<p class="aviso">{{contrato.genero}}</p>
						</div>
						<div class="form-group  col-md-3">
							<label for="exampleInputName2">Nivel Academico:</label>
							<p class="aviso">{{contrato.academico}}</p>
						</div>

						<div class="form-group col-md-3">
							<label for="exampleInputName">Email:</label>
							<p class="aviso">{{contrato.email}}</p>
						</div>
					</div>

					<div class="row">

						<div class="form-group col-md-3">
							<label for="exampleInputName">Telefone I</label>
							<p class="aviso">{{contrato.telefone1}}</p>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName">Telefone II:</label>
							<p class="aviso">{{contrato.telefone2}}</p>
						</div>
						<div class="form-group col-md-3">
							<label for="exampleInputName">Click para Editar:</label>
							<button data-ng-click="back('stage')" class="btn btn-danger">Editar
							</button>
						</div>
					</div>




					<ul class="pager wizard">
						<li class="previous"><a data-ng-click="back('stage2')"
							class="btn btn-default">Voltar</a></li>
					</ul>
					<button type="button" class="btn btn-success"
						data-ng-click="create(contrato)">Guardar</button>

				</div>

			</form>

		</div>
		<form>


			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Contactos de
								Emergência</h4>
						</div>
						<div class="modal-body">
							<div class="form-group">
								<div class="row">
									<h5>Contacto 1:</h5>
									<div class="form-group  col-md-4">
										<label for="exampleInputNome1">Nome:</label> <input
											type="text" class="form-control"
											data-ng-model="contrato.contrato.nome1" id="idInputNome1"
											placeholder="Nome">
									</div>
									<div class="form-group col-md-4">
										<label for="exampleInputTelefone1">Telefone:</label> <input
											type="number" class="form-control"
											data-ng-model="contrato.contrato.telefone1"
											id="idInputTelefone1" placeholder="*********">
									</div>
									<div class="form-group  col-md-3">
										<label>Parentesco: <select
											data-ng-model="contrato.parente1">
												<option data-ng-repeat="p in pars">{{p}}</option>
										</select>
										</label>
									</div>
								</div>


							</div>
							<div class="modal-footer">
								<button type="button" data-ng-click="limpar()"
									class="btn btn-default" data-dismiss="modal">Fechar</button>
								<button type="submit" class="btn btn-success"
									data-dismiss="modal">Adicionar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
		<form name="multiStepFor">
			<div class="modal fade" id="myModall" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Programas</h4>
						</div>

						<div class="modal-body">
							<div class="form-group">
								<div class="row">

									<div class="form-group  col-md-3">
										<label>DOD: <select class="form-control"
											data-ng-model="contrato.programa.pdod">
												<option></option>
												<option>DOD</option>
										</select></label>
									</div>
									<div class="form-group col-md-3">
										<label> Percentual<input class="form-control"
											placeholder="percetagem DOD" type="number"
											data-ng-model="contrato.programa.p1"></label>
									</div>
									<div class="form-group  col-md-3">
										<label>CDC: <select class="form-control"
											data-ng-model="contrato.programa.pcdc">
												<option></option>
												<option>CDC</option>
										</select></label>
									</div>
									<div class="form-group  col-md-3">

										<label> PercentuaL<input class="form-control"
											placeholder="percetagem CDC" type="number"
											data-ng-model="contrato.programa.p2"></label>
									</div>
								</div>
								<div class="row">

									<div class="form-group  col-md-3">
										<label>MSCP: <select class="form-control"
											data-ng-model="contrato.programa.pmcp">
												<option></option>
												<option>MSCP</option>
										</select></label>
									</div>
									<div class="form-group col-md-3">
										<label> Percentual<input class="form-control"
											placeholder="percetagem MSCP" type="number"
											data-ng-model="contrato.programa.p3">%
										</label>
									</div>
									<div class="form-group  col-md-3">
										<label>MOZAL: <select class="form-control"
											data-ng-model="contrato.programa.pmozal">
												<option></option>
												<option>MOZAL</option>
										</select></label>
									</div>
									<div class="form-group  col-md-3">

										<label> PercentuaL<input class="form-control"
											placeholder="percetagem MOZAL" type="number"
											data-ng-model="contrato.programa.p4">%
										</label>
									</div>
								</div>
								<div class="row">

									<div class="form-group  col-md-3">
										<label>TIP TOP: <select class="form-control"
											data-ng-model="contrato.programa.ptip">
												<option></option>
												<option>TIP TOP</option>
										</select></label>
									</div>
									<div class="form-group col-md-3">
										<label> Percentual<input class="form-control"
											placeholder="percetagem TIP TOP" type="number"
											data-ng-model="contrato.programa.p5">
										</label>
									</div>
									<div class="form-group  col-md-3">
										<label>AIDS FREE: <select class="form-control"
											data-ng-model="contrato.programa.paids">
												<option></option>
												<option>AIDS FREE:</option>
										</select></label>
									</div>
									<div class="form-group  col-md-3">

										<label> PercentuaL<input class="form-control"
											placeholder="percetagem AIDS FREE" type="number"
											data-ng-model="contrato.programa.p6">
										</label>
									</div>
								</div>
							</div>
							Total: <input type="text" size="10" maxlength="100"
								value="{{contrato.programa.p1+contrato.programa.p2+contrato.programa.p3+contrato.programa.p4+contrato.programa.p5+contrato.programa.p6}}"
								
								readonly="readonly">
							<div class="modal-footer">
								<div role="alert">
									<span class="error"
										ng-show="multiStepFor.input.$error.required"> Required!</span>
									<span class="error" ng-show="multiStepFor.input.$error.number">
										Not valid number!</span>
								</div>
								<button type="submit" class="btn btn-defaul" ng-click="limpar()"
									data-dismiss="modal">Limpar</button>

								<button type="submit" class="btn btn-success"
									ng-disabled="multiStepFor.$invalid" data-dismiss="modal">Adicionar</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</body>
</html>
