<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Teste</title>
<body >
	<h1 style="color:red">Departamento</h1>
	<form>

		<label>Nome</label> <input type="text"
			ng-model="departamento.descricao"> <br><br>
		<button type="button" data-ng-click="create(departamento)">Create</button>
		<br>	<table border="1" class="table table-hover">
			<tr>
				<th>Nome</th>
				<th>Accoes</th>

			</tr>
			<tr data-ng-repeat="departamento in lista">
				<td>{{departamento.descricao}}</td>

				<td>
					<button type="button" data-ng-click="alterar(departamento)">Alterar</button>
					<!-- 					<button type="button" data-ng-click="deletar(departamento)">Excluir</button> -->
				</td>
			</tr>
		</table>
	</form>

</body>
</html>
